{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>La Dolorosa</title>
 
</head>
<body>

  <main class="wrapper">

    <div class="card">
      <div class="card-front">
        <img src="{% static './imagenes/bg-card-font.jpg' %}" alt="Frente de la tarjeta">
        <div class="card-front__data">
          <img src="{% static './imagenes/master.png' %}" alt=""> 
          <div>
            <p class="card-number" id="card-number">0000 0000 0000 0000</p>
            <div class="card-name-date">
              <p class="card-name" id="card-name"> G20 Repuestos Sebastian </p>
              <p class="card-date">
                <span id="card-month"> 08 </span>/<span id="card-year"> 23 </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-back">
        <img src="{% static './imagenes/bg-back-card.png' %}"alt="Dorso de la tarjeta">
        <div class="card-back__data">          
          <p class="card-cvc" id="card-cvc">000</p>
        </div>
      </div>
    </div>

    <div class="form-wrapper">
      <form class="form" id="form">
        <div class="form-group">
          <label for="input-name" class="label"> Nombre y Apellido </label>
          <input type="text" class="input" id="input-name" placeholder=" G20 Repuestos Sebastian" required>
        </div>
        <div class="form-group">
          <label for="input-number" class="label"> Número de Tarjeta</label>
          <input type="text" class="input" id="input-number" placeholder="e.g. 1234 5678 9123 0000" required>
        </div>
        <div class="form-group double">
          <div class="rows">
            <label for="input-month" class="label"> VTO (MM/YY)</label>
            <div class="columns">
              <input type="text" class="input" id="input-month" placeholder="MM" maxlength="2" required>
              <input type="text" class="input" id="input-year" placeholder="YY" maxlength="2" required>
            </div>
          </div>
          <div class="rows">
            <label for="input-cvc" class="label">CVC</label>
            <input type="text" class="input" id="input-cvc" placeholder="e.g. 123" maxlength="3" required>
          </div>
        </div>
        <div class="form-group">
          <button class="button" type="submit">Confirmar</button>
        </div>
      </form>
      
      <div class="thank-you disabled" id="thank-you">
        <img src="./assets/css/imagenes/icon-complete.svg" alt="Ícono de completado">
        <p class="thank-you-title"> Muchas Gracias!</p>
        <p class="thank-you-text"> Ya hemos procesado su compra </p>
        <button class="button" id="continue">Continue</button>
      </div>
    </div>



  </main>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.0.2/cleave.min.js" integrity="sha512-SvgzybymTn9KvnNGu0HxXiGoNeOi0TTK7viiG0EGn2Qbeu/NFi3JdWrJs2JHiGA1Lph+dxiDv5F9gDlcgBzjfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static './js/main.js'%}">  </script>
</body>
</html>
{% endblock %}